*{
	font-family: sans-serif;
	line-height: 1.618em;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	color: darkblue;
}

header,
main,
footer {
	margin: 0 auto;
	max-width: 800px;
}

html {
	font-size: 16px;

	margin-top: 3em;
}

header {
	padding: 2em 0;
}

header h1 {
	font-size: 3em;
}

header span {
	font-size: 1.5em;
	color: 999;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	flex-flow: row;
	justify-content: center;

	background: darkblue;
}

nav a {
	padding: .5em 2em;
	text-decoration: none;
	color:#fff;
}

nav a:hover {
	background: lightblue;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd}


.show {display:block;}