<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title >Add Alerts</title>
	<link rel= "stylesheet" type= "text/css" href = "./addAlert.css" th:href= "@{css/addAlert.css}">
</head>
<body>	
	<header>
		<img th:src="@{/images/medcabsubpage.png}"  class= "center"/> 
	</header>
	<main>

	<section id= "addAlertTitle">
    <h1>Add an Alert </h1>
	 <form method= "POST" action = "/addalert">

		<div>
		<label>Enter the Medication For This Alert:</label>
		<input type="text" name="name" />
		</div>
		
		<div>
		<label>Enter Dosage Units:</label>
		<input type="text" name="dosageUnits" placeholder="1, 100, 30 etc" />
		</div>
		
		<div>
		<label>Enter Dosage Type:</label>
		<input type="text" name="dosageType" placeholder ="pill, liquid, patch, injection" />
		</div>
		
		<div>
		<label>Enter Day To Send Alert As A Single Digit:</label>
		<input type="text" name="dayToSendAlert" placeholder ="Sunday = 0, Monday = 1, Tuesday = 2, Wednesday = 3, etc."/>
		</div>
		
		<div>
		<label>Enter The Hour (in Military Time) To Send Alert:</label>
		<input type="text" name="timeToSendAlertHour" />
		</div>
		
		<div>
		<label>Enter The Minute To Send Alert:</label>
		<input type="text" name="timeToSendAlertMinute" />
		</div>
		
		
			<div>
		<button type="submit">Add Alert</button>

		</div>

	
	</form>
</section>
</main>
	
	
	
</body>
<footer>
	<a href ="http://localhost:8080/home-page">Back to Home</a>
</footer>
<script type="text/javascript" th:src="@{/js/medicinecabinet.js}"></script>

</html>