<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Alert</title>
	<link rel= "stylesheet" type= "text/css" href = "./alert.css" th:href= "@{css/alert.css}">
	
</head>
<body>
	<header>
		<img th:src="@{/images/medcabsubpage.png}"  class= "center"/> 
	</header>

<main>
	<section id= "alertTitle">
	<h1>Alert</h1>
	
	
	<div th:each= "alert: ${alerts}">		
		 
		<p th:text = "${alert.name}"></p>		
		<p th:text = "${alert.dosageUnits}"></p>
		<p th:text = "${alert.dosageType}"></p>			
				
	</div>
	</section>
</main>	
</body>

	<footer>
		<a href ="http://localhost:8080/show-alerts">Back to Alerts</a>
		<a href ="http://localhost:8080/home-page">Back to Home</a>
	</footer>
			
	<script type="text/javascript" th:src="@{/js/medicinecabinet.js}"></script>

</html>