<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Alert</title>
	<link rel= "stylesheet" type= "text/css" href = "./medicinecabinet.css" th:href= "@{css/medicinecabinet.css}">
	
</head>
<body>
	<h1>Alert</h1>
	
	
	<div th:each= "alert: ${alerts}">		
		 
		<p th:text = "${alert.name}"></p>
		<p th:text = "${alert.dosageUnits}"></p>
		<p th:text = "${alert.dosageType}"></p>
		
				
	</div>	
	

	<a href ="http://localhost:8080/show-alerts">Back to Alerts</a>
	<a href ="http://localhost:8080/home-page">Back to Home</a>
	
		
<script type="text/javascript" th:src="@{/js/medicinecabinet.js}"></script>
</body>
</html>