<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title >All Alerts</title>
	<link rel= "stylesheet" type= "text/css" href = "./medicinecabinet.css" th:href= "@{css/medicinecabinet.css}">
</head>
<body>	
	<h1>List of All Alerts</h1>
	
	
	<div th:each="alert: ${alerts}" >
		<p><a th:href="@{/alert(id=${alert.id})}" th:text="${alert.name}"></a></p>
	</div>
	
	<a href ="http://localhost:8080/home-page">Back to Home</a>
	

<footer></footer>
<script type="text/javascript" th:src="@{/js/medicinecabinet.js}"></script>
</body>
</html>