<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Doctor</title>
	<link rel= "stylesheet" type= "text/css" href = "./doctor.css" th:href= "@{css/doctor.css}">
</head>

<body>
	<header>
		<img th:src="@{/images/medcabsubpage.png}"  class= "center"/> 
	</header>

<main>
	<section id= "doctorTitle">
		<h1>Doctor</h1>
	
	<div th:each= "doctor: ${doctors}">		
		 
		<p th:text = "${doctor.doctorName}"></p>		
		<p th:text = "${doctor.doctorPhone}"></p>
	</div>	

	</section>
</main>

</body>
	<footer>
		<a href ="http://localhost:8080/show-doctors">Back to Doctors</a>
		<a href ="http://localhost:8080/home-page">Back to Home</a>
	</footer>
	
	<script type="text/javascript" th:src="@{/js/medicinecabinet.js}"></script>

</html>