<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Medicine Cabinet</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="./medicinecabinet.css"
      th:href="@{css/medicinecabinet.css}"
    />
  </head>
  <body>
    <table align="center">
      <tr>
        <td><a href="login">Login</a></td>
        <td><a href="register">Register</a></td>
      </tr>
    </table>

    <footer></footer>
    <script type="text/javascript" th:src="@{/js/home-page.js}"></script>
  </body>
</html>
