*{
	font-family: sans-serif;
	line-height: 1.618em;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	color: darkblue;
}

header,
main,
footer {
	margin: 0 auto;
	max-width: 800px;
}

html {
	font-size: 16px;

	margin-top: 3em;
}

header {
	padding: 2em 0;
}

header h1 {
	font-size: 3em;
}

header span {
	font-size: 1.5em;
	color: 999;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	flex-flow: row;
	justify-content: center;

	background: darkblue;
}

nav a {
	padding: .5em 2em;
	text-decoration: none;
	color:#fff;
}

nav a:hover {
	background: lightblue;
}