

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title >All Active Medications</title>
	<link rel= "stylesheet" type= "text/css" href = "./medicinecabinet.css" th:href= "@{css/medicinecabinet.css}">
	
</head>
<body>	
	<h1>List of All Active Medications</h1>
	
	
	<div th:each="medication: ${medications}" >
		<p><a th:href="@{/medication(id=${medication.id})}" th:text="${medication.medicationName}"></a></p>
	</div>
	

	 <form method= "POST" action = "/addmedication">
	
	

		<div>
		<label>Enter Medication Name:</label>
		<input type="text" name="medicationName" />
		</div>
		
		<div>
		<label>Enter Dosage Units:</label>
		<input type="text" name="dosageUnits" />
		</div>
		
		<div>
		<label>Enter Dosage Amount:</label>
		<input type="text" name="dosageAmount" />
		</div>
		
		<div>
		<label>Enter Medication Type:</label>
		<input type="text" name="medicationType" />
		</div>
		

		<div>
		<label>Enter Frequency:</label>
		<input type="text" name="frequency" />
		</div>
		
		<div>

		<label>Enter Medication Count:</label>
		<input type="text" name="medicationType" />
		</div>
		
		<!-- <div>
		<label>Enter Time To Take Medication:</label>
		<input type="text" name="timeToTakeMedication" />
		</div>-->
		
		<div>
		<label>Enter Special Instructions:</label>
		<input type="text" name="instructions" />
		</div>
		

		<!--  <div>
		<label>Enter Prescribing Doctor:</label>
		<input type="text" name="doctorName" />

		
		
		<div>
		<label>Enter Pharmacy:</label>

		<input type="text" name="pharmacyName" />

		

		</div>
		
		<div>
		<label>Enter Alert:</label>
		<input type="text" name="alertName" />

		</div>-->
		
		<div>
		<button type="submit"> add medication</button>
		</div>
		
		
	
	</form>
	
	<a href ="http://localhost:8080/home-page">Back to Home</a>
	<script type="text/javascript" th:src="@{/js/medicinecabinet.js}"></script>
</body>
</html>