

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title >All Active Medications</title>
	<link rel= "stylesheet" type= "text/css" href = "./medicinecabinet.css" th:href= "@{css/medicinecabinet.css}">
	
</head>
<body>	
	<p id="addMed"><a href ="http://localhost:8080/add-medication">Add A Medication</a></p>

	<h1>List of All Active Medications</h1>
	
	
	<div th:each="medication: ${medications}" >
		<p><a th:href="@{/medication(id=${medication.id})}" th:text="${medication.medicationName}"></a></p>
	</div>
	
	
	
	
	<footer><a href ="http://localhost:8080/home-page">Back to Home</a>
	<a href ="http://localhost:8080/add-medication">Add A Medication</a></footer>
	<script type="text/javascript" th:src="@{/js/medicinecabinet.js}"></script>
</body>
</html>