<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="./medicineabinet.css">
</head>

<body>
<header>
	<h1>Medicine Cabinet</h1>
	<span></span>
</header>
<main>
	
</main>

<nav>
	<div class="dropdowm">
		<button onclick="myFunction()" class="dropbtn">Menu</button>
			<div id="myDropdown" class= "dropdown-content">
				<a href="#viewMedications">View Medications</a>
				<a href="#addMedication">Add Medications</a>
				<a href="#addReminder">Add Reminders</a>
				<a href="#disclaimer">Discalimer</a>
			</div>
	</div>
	<footer></footer>
	<script src="./medicinecabinet.js"></script>
</body>
</html>