<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Pharmacy</title>
	<link rel= "stylesheet" type= "text/css" href = "./pharmacy.css" th:href= "@{css/pharmacy.css}">
	
</head>
<body>
	<header><img th:src="@{/images/medcabsubpage.png}"  class= "center"/> </header>

<main>

	<section id = "pharmacyTitle">
	<h1>Pharmacy</h1>
	
	
	<div th:each= "pharmacy: ${pharmacies}">		
		 
		<p th:text = "${pharmacy.pharmacyName}"></p>
		<p th:text = "${pharmacy.pharmacyAddress}"></p>		
		<p th:text = "${pharmacy.pharmacyPhone}"></p>
	</div>	
</section>
</main>
<nav>
	<div class="dropdowm">
		<button onclick="myFunction()" class="dropbtn">Menu</button>
			<div id="myDropdown" class= "dropdown-content">
				<a href="http://localhost:8080/show-todays-medications">View Medications For Today</a>
				<a href="http://localhost:8080/show-medications">View All Active Medications</a>
				<a href="http://localhost:8080/show-alerts">View Alerts</a>
				<a href="http://localhost:8080/show-doctors">View Your Doctors</a>
				<a href="http://localhost:8080/show-pharmacies">View Your Pharmacies</a>
				<a href="http://localhost:8080/add-medication">Add Medications</a>
				<a href="http://localhost:8080/add-alert">Add Alerts</a>
				<a href="http://localhost:8080/home-page">Home Page</a>
			</div>
	</div>	
</nav>



<footer>
	<a href ="http://localhost:8080/show-pharmacies">Back to Pharmacies</a>
	<a href ="http://localhost:8080/home-page">Back to Home</a>
</footer>
		
<script type="text/javascript" th:src="@{/js/home-page.js}"></script>
</body>
</html>