<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title >All Pharmacies</title>

	<link rel= "stylesheet" type= "text/css" href = "./pharmacies.css" th:href= "@{css/pharmacies.css}">
</head>
<body>	
	<header><img th:src="@{/images/medcabsubpage.png}"  class= "center"/> </header>

<main>

	<section id = "pharmaciesTitle">
	<h1>List of All Pharmacies</h1>
	
	
	<div th:each="pharmacy: ${pharmacies}" >
		<p><a th:href="@{/pharmacy(id=${pharmacy.id})}" th:text="${pharmacy.pharmacyName}"></a></p>
	</div>

</section>
</main>
	
	
	
</body>
<footer><a href ="http://localhost:8080/home-page">Back to Home</a></footer>
<script type="text/javascript" th:src="@{/js/medicinecabinet.js}"></script>


</html>