<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Medicine Cabinet-Login</title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form action="/user-login" method="post">
            <div><label> User Name : <input type="text" name="userName"/> </label></div>
            <div><label> Password: <input type="password" name="passwordConfirm"/> </label></div>
            <button>><input type="submit"/>Sign In</button>
        </form>
    </body>
</html>